<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiRET_0mrvbPImRi8FhAX7SBMi2-CFWys</string>
	<key>GCM_SENDER_ID</key>
	<string>121724488915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.QuickCart-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>quickcart-dc7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcart-dc7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121724488915:ios:d1ac27d167ddb87ee51826</string>
</dict>
</plist>